= cache "user-#{current_user.updated_at.to_i}" do
  - if current_user.groups?
    %h1 Your Groups
    %table.table.table-striped
      %thead
        %tr
          -# %th ID
          %th= Group.human_attribute_name(:name)
          %th= Group.human_attribute_name(:description)
          %th= Group.human_attribute_name(:created_at)
          %th= t '.actions', default: t("helpers.actions")
      %tbody
        = render partial: "groups/row", collection: current_user.groups.ordered, as: :group, cache: true
  %p= link_to t('.new', default: t("helpers.links.new")), new_group_path, class: 'btn btn-primary'

