= form_for @pair do |f|
  - if @pair.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pair.errors.count, "error")} prohibited this pair from being saved:"
      %ul
        - @pair.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :group_id, value: @group ? @group.id : nil

  -#.field
  -#  = f.label :group_id
  -#  = @pair.group
  -#  -# = collection_select :pair, :group_id, Group.all, :id, :name, {}, { class: "select2" }

    -#= f.collection_select(:group, Group.all, :id, :name)
  .field
    = f.label :member_1_id
    = collection_select :pair, :member_1_id, Member.all, :id, :name, {}, { class: "select2" }
    -#= f.collection_select(:member_1, Member.all, :id, :name)
  .field
    = f.label :member_2_id
    = collection_select :pair, :member_2_id, Member.all, :id, :name, {}, { class: "select2" }
    -#= f.collection_select(:member_2, Member.all, :id, :name)

  .field
    = label_tag :reminder_time
    = text_field_tag :reminder_time
    -#= f.collection_select(:member_2, Member.all, :id, :name)


  .actions
    = f.submit 'Save'
