%h1 Listing pairs

%table
  %thead
    %tr
      %th Group
      %th Member 1
      %th Member 2
      %th
      %th
      %th

  %tbody
    - @pairs.each do |pair|
      %tr
        %td= pair.group
        %td= pair.member_1
        %td= pair.member_2
        %td= link_to 'Show', pair
        %td= link_to 'Edit', edit_pair_path(pair)
        %td= link_to 'Destroy', pair, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pair', new_pair_path
