-# expects group to be passed in as a local
%tr
  %td= group.id
  %td= group.name
  %td= group.description
  %td= l group.created_at, format: :long
  %td
    = link_to group_path(group), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do
      = glyph 'info-sign'
      = glyph 'pencil'
    = link_to group_path(group), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do
      = glyph 'remove'
