= cache "user-#{current_user.updated_at.to_i}" do
  %h1
    = t("tandem.general.your_groups")
    - if @groups.any?
      %span.detail= "(#{@groups.count})"
  - if @groups.any?
    %table.table.table-striped
      %thead
        %tr
          -# %th ID
          %th= Group.human_attribute_name(:name)
          %th= Group.human_attribute_name(:description)
          %th= Group.human_attribute_name(:time_zone)
          %th= Group.human_attribute_name(:created_at)
          %th= Group.human_attribute_name(:members)
          %th= Group.human_attribute_name(:pairs)
          %th= t '.actions', default: t("helpers.actions")
      %tbody
        = render partial: "groups/row", collection: @groups.ordered, as: :group, cache: true
  %p= link_to t('.new', default: t('helpers.links.new')), new_group_path, class: 'btn btn-primary'
