- model_class = Member
.page-header
  %h1= t '.title', default: Member
.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:name)
    %dd
      %pre.prettyprint= @member.name
    %dt.label.label-default= model_class.human_attribute_name(:phone_number)
    %dd
      %pre.prettyprint= @member.phone_number
    %dt.label.label-default= model_class.human_attribute_name(:active)
    %dd
      %pre.prettyprint= @member.active
.form-group
  = link_to t('.back', default: t("helpers.links.back")), |
    members_path, class: 'btn btn-default'                |
  = link_to t('.edit', default: t("helpers.links.edit")), |
    edit_member_path(@member), class: 'btn btn-default'   |
  = link_to t('.destroy', default: t("helpers.links.destroy")),                                               |
    member_path(@member),                                                                                        |
    method: 'delete',                                                                                         |
    data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, |
    class: 'btn btn-danger'                                                                                   |
